.content {
  width: calc(97% - 50px);
}

form {
  margin: 50px;
  width: calc(100% - 50px);
  padding: 10px;
  background-color: #ccd3dd;
  text-align: center;
}

label {
  vertical-align: middle;
  text-align: center;
}

#id_street {
  width: 220px;
}

#id_house {
  width: 175px;
}

#id_type {
  width: 215px;
}

#id_drivers {
  width: 200px;
}

#id_pedestrians {
  width: 190px;
}
