<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Задачи к данному курсовому проекту</title>
  </head>
  {% include 'public/header.html' %}
  <body>
    <div class="content">
      <h4>Список задач для автоинспектора:</h4>
      <ol>
        <li>Фиксация ДТП: с учетом места, даты, типа, водителя с ТС, пешеходов</li>
        <li>Фиксация нарушения ПДД: с учетом места, типа, штрафа, ТС</li>
        <li>Отправка "письма счастья" конкретному владельцу ТС</li>
        <li>Просмотр списка нарушителей</li>
        <li>Просмотр всех нарушений ПДД и ДТП для конкретного пользователя (владельца ТС)</li>
        <li>Просмотр "ТОПа" улиц по критерям: ДТП, нарушениям ПДД</li>
        <li>Просмотр "ТОПа" транспортных средств по количеству ДТП, в которых они поучавствовали</li>
        <li>Управление данными о нарушениях: добавить, изменить, удалить</li>
        <li>Управление данными о ДТП: добавить, изменить, удалить</li>
        <li>Регистрация нового пользователя</li>
      </ol>
      <h4>Список задач для владельца ТС:</h4>
      <ol>
        <li>Регистрация и атентификация по номеру водительского удостоверения и личным данным</li>
        <li>Просмотр профиля: личные данные, ДТП, в которых поучавствовал, нарушения ПДД, транспортные средства, которые принадлежат пользователю</li>
        <li>Изменение личных данных: фото, электронная почта, дата рождения</li>
        <li>Регистрация ТС, которое принадлежит пользователю</li>
      </ol>
      <h5>Список задач, на выполнение которых не хватило времени, но они будут выполнены в будущем</h5>
      <ol>
        <li>Просмотр подробностей о ДТП, нарушении ПДД, ТС пользователя</li>
        <li>Добавить пользователя для ИС: "водитель"</li>
      </ol>
    </div>
  </body>
</html>
