<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Топ улиц по нарушениям</title>
    {% include 'public/fonts.html' %}
  </head>
  {% include 'public/header.html' %}
  <body>
    <div class="content" style="width: 98%; text-align: center; padding-top: 100px; margin-left: 10%;">
      <table style="border-collapse: collapse; border: 1px solid black; width: 80%;">
        <thead>
          <th style="border: 1px solid black;">Улица</th>
          <th style="border: 1px solid black;">Количество нарушений</th>
        </thead>
        {% for q in query %}
        <tr style="border: 1px solid black;">
          <td style="border: 1px solid black;">{{ q.street }}</td>
          <td style="border: 1px solid black;">{{ q.cnt }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
